.has-adornment {
    &.has-adornment-before .form-control {
        border-left: none;
    }

    &.has-adornment-after {
        .form-control {
            border-right: none;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .input-group-append .btn {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    .input-group-append,
    .input-group-prepend {
        display: flex;
        z-index: 1;

        .btn {
            margin: 0;
            width: unset;
            height: unset;
            box-shadow: none;
            border: 1px solid #ced4da;

            min-width: 3rem;

            .icon {
                font-size: .9em;
            }
        }
    }

    .input-group-prepend {
        margin-right: -1px;
    }

    .input-group-append {
        margin-left: -1px;
    }

    .input-group-text {
        display: flex;
        align-items: center;
        padding: .375rem .75rem;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        text-align: center;
        white-space: nowrap;
        background-color: #e9ecef;
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }
}

.credit-card-adornment,
.empty-adornment {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent !important;
    border: none !important;
    padding-left: .15rem !important;
}

.empty-adornment {
    padding-right: .5rem;
}

.credit-card-adornment i,
.empty-adornment i {
    margin: 0 !important;
    font-size: 1.5rem;
}