@use "./theme.scss" as *;
@use "./colors.scss" as *;

$radius-rounded: 1000000rem;

%flexing {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

%ui-element {
    z-index: $layer-ui;
}

%unselectable {
    user-select: none;
}

$offset: 0;

%overlay {
    bottom: $offset;
    left: $offset;
    position: absolute;
    right: $offset;
    top: $offset;
}

@mixin square($size: 20px) {
    height: $size;
    max-height: $size;
    max-width: $size;
    min-height: $size;
    min-width: $size;
    width: $size;
}

@mixin delete {
    @extend %unselectable;
    @include square(20px);

    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: rgba($bg-invert, 0.2);
    border: none;
    border-radius: $radius-rounded;
    cursor: pointer;
    pointer-events: auto;
    display: inline-block;
    flex: 0 0 0;
    outline: none;
    position: relative;
    vertical-align: top;

    &::before,
    &::after {
        background-color: $bg-primary;
        content: "";
        display: block;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        transform-origin: center center;
    }

    &::before {
        height: 2px;
        width: 50%;
    }

    &::after {
        height: 50%;
        width: 2px;
    }

    &:hover,
    &:focus {
        background-color: rgba($bg-invert, 0.3);
    }

    &:active {
        background-color: rgba($bg-invert, 0.4);
    }

    // Sizes
    &.is-small {
        @include square(16px);
    }

    &.is-medium {
        @include square(24px);
    }

    &.is-large {
        @include square(32px);
    }
}